<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouy"
      layout:decorate="~{layout/item}"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Board Modify</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/item/assets/favicon.ico}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"></head>
    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/item/css/styles.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/upload.js}"></script>
</head>
<body>

<th:block th:fragment="content">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/board/list}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Product section-->
    <section class="py-5">
        <form th:action="@{/board/modify}" th:method="post" id="f1">

            <!-- 페이지 정보 -->
            <input type="hidden" name="bno" th:value="${dto.bno}">
            <input type="hidden" name="page" th:vlaue="${requestDTO.page}">
            <input type="hidden" name="keyword" th:vlaue="${requestDTO.keyword}">

            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <h1>게시글 수정</h1>
                    <div class="col-md-6">
<!--                        <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>-->
                        <div id="thumbnailContainer">
                            <!-- 파일 이름 목록을 통해 썸네일 이미지 생성 -->
                            <th:block th:each="fileName, iterStat : ${dto.fileNames}">
                                <div th:if="${iterStat.index == 0}" class="thumbnail-wrapper">
                                    <!-- 섬네일 이미지 표시 -->
                                    <img th:src="|/view/s_${fileName}|"
                                         style="width: 150px; height: 200px; object-fit: cover;"
                                         th:alt="${fileName}" />

                                </div>
                            </th:block>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="small mb-1" style="display:none;" name="bno" th:value="${dto.bno}" readonly>[[${dto.bno}]]</div>
                            <div class="small mb-1">SKU: BST-498</div>
                            <input type="text" class="display-5 fw-light" name="title" th:value="${dto.title}" >
                        </div>

                        <div>
                            <div class="fs-5 mb-5">
                                <input type="price" name="price" th:value="${dto.price}">원
                            </div>
                        </div>
                        <textarea class="lead" rows="15" cols="48"  name="content" th:text="${dto.content}"></textarea>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">파일 추가</button>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="my-4">
            <div class="float-end" th:with="link = ${requestDTO.getLink()}">
                <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-primary listBtn">목록</button>
                </a>

                <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary modBtn">수정</button>
                </a>

                <button type="button" class="btn btn-danger removeBtn">삭제</button>
            </div>
        </div>


        <!-- 첨부 파일 섬네일 보여줄 부분-->
        <div class="row mt-3">
            <div class="col">
                <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                    <th:block th:each="fileName:${dto.fileNames}">
                        <div class="card col-4" th:with = "arr = ${fileName.split('_')}">
                             <div class="card-header d-flex justify-content-center">
                                 [[${arr[1]}]]
                                 <button class="btn-sm btn-danger"
                                         th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X</button>
                             </div>
                            <div class="card-body">
                                <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}" >
                            </div>
                        </div><!-- card -->
                    </th:block>
                </div>
            </div>
        </div>


        <!-- 첨부 파일 추가 위한 모달창 -->
        <div class="modal uploadModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Upload File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="file" name="files" class="form-control" multiple >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                            <button type="button" class="btn btn-outline-dark closeUploadBtn" >Close</button>
                        </div>
                    </div>
                </div>
            </div><!-- register modal -->

    </section>


    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Popular Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>



</th:block>
<script layout:fragment="script" th:inline="javascript">

    // 에러 처리 부분
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }


    // 썸네일 출력 부분

    // 수정 처리
    const link = [[${requestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/board/modify?${link}`

        // 첨부파일 추가
        appendFileData()

        // 삭제대상 파일들 삭제
        callRemoveFiles()

        formObj.method ='post'
        formObj.submit()
    }, false)

    function appendFileData(){

        const target = document.querySelector(".uploadHidden")
        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for (let i = 0; i < uploadFiles.length ; i++) {
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            str += `<input type='hidden' name='fileNames' value="${imgLink}">`
        }

        target.innerHTML = str;

    }

    function appendNotShownData(){

        if(removeFileList.length == 0){
            return
        }

        const target = document.querySelector(".uploadHidden")
        let str = ''

        for (let i = 0; i < removeFileList.length ; i++) {

            const {uuid, fileName} = removeFileList[i];

            str += `<input type='hidden' name='fileNames' value="${uuid}_${fileName}">`
        }
        target.innerHTML += str;
    }

    function callRemoveFiles(){

        removeFileList.forEach( ({uuid,fileName}) => {
            removeFileToServer({uuid, fileName})
        })
    }


    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        // 화면에 보이는 파일들을 form태그에 추가
        appendFileData()
        // 화면에서 안보이도록 처리된 파일들을 form태그에 추가
        appendNotShownData()

        formObj.action = `/board/remove`
        formObj.method ='post'
        formObj.submit()
    }, false)

    // 목록 이동
    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location =`/board/list?${link}`
    }, false)



    /* 첨부 파일 삭제, 추가 */
    // 최종적으로 삭제될 파일 목록
    const removeFileList = []

    function removeFile(uuid, fileName, obj){
        if(!confirm("파일 삭제 확실?")){
            return
        }

        console.log(uuid)
        console.log(fileName)

        console.log(obj)

        removeFileList.push({uuid,fileName})

        const targetDiv = obj.closest(".card")
        targetDiv.remove()
    }

    // 업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function(e){

        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function(e){

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for (let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }


        uploadToServer(formObj).then(result => {
            console.log(result)

            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    },false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({uuid, fileName, link}){

        const str =`<div class="card col-4">
                        <div class="card-header d-flex justify-content-center">
                            ${fileName}
                            <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
                        </div>
                        <div class="card-body">
                            <img src="/view/${link}" data-src="${uuid+"_"+fileName}" >
                        </div>
                    </div><!-- card -->`

        uploadResult.innerHTML += str
    }
</script>

</body>
</html>
