<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/item.html}"
>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/item/assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"></head>
    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/item/css/styles.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/reply.js}"></script>
</head>
<body>

<th:block th:fragment="content">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/board/list}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6" th:if="${dto.fileNames != null && dto.fileNames.size>0}">
                    <img class="card-img-top"
                         th:each="fileName: ${dto.fileNames}"
                         th:src="|/view/${fileName}|">
                    </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="small mb-1" style="display:none;" name="bno" th:value="${dto.bno}">[[${dto.bno}]]</div>
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" name="title" th:value="${dto.title}" readonly> [[${dto.title}]]</h1>
                    </div>

                    <div class="fs-5 mb-5">
                        <span th:value="${dto.price}">[[${dto.price}]]원</span>
                        <!--                                <span>$40.00</span>-->
                    </div>

                    <div class="lead" th:value="${dto.content}">[[${dto.content}]]</div>

                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            <div class="float-end" th:with="link = ${requestDTO.getLink()}">
                <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">목록</button>
                </a>

                <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary">수정</button>
                </a>
            </div>
        </div>

<!--        <div class="col">-->
<!--            <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size()>0}">-->
<!--                <img class="card-img-top"-->
<!--                     th:each="fileName: ${dto.fileNames}"-->
<!--                     th:src="|/view/${fileName}|">-->

<!--            </div>-->
<!--        </div>-->


        <!-- Reply List -->
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="my-4 ">
                    <button class="btn btn-info  addReplyBtn">댓글 추가</button>
                </div>
                <ul class="list-group replyList">
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="pagination replyPaging">
                </ul>
            </div>
        </div>

        <!-- 상품평 등록 -->
        <div class="modal registerModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">댓글 등록</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">상품평</span>
                            <input type="text" class="form-control replyText" >
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <input type="text" class="form-control replyer" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary registerBtn">등록</button>
                        <button type="button" class="btn btn-outline-dark closeRegisterBtn" >닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end register modal -->

        <!-- 상품평 수정 -->
        <div class="modal modifyModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title replyHeader"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">상품평</span>
                            <input type="text" class="form-control modifyText" >
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info modifyBtn">수정</button>
                        <button type="button" class="btn btn-danger removeBtn">삭제</button>
                        <button type="button" class="btn btn-outline-dark closeModifyBtn">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!--modifyModal -->


    </section>


    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Popular Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>



</th:block>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/reply.js"></script>

<script layout:fragment="script" th:inline="javascript"> // axios

const bno = [[${dto.bno}]]

const replyList = document.querySelector('.replyList') // 댓글 목록 DOM
const replyPaging = document.querySelector('.replyPaging') // 페이지 목록 DOM

function printList(dtoList){ // 댓글 목록 출력
    let str = '';

    if(dtoList && dtoList.length > 0){

        for (const dto of dtoList) {

            str += `<li class="list-group-item d-flex replyItem">
                              <span class="col-2">${dto.rno}</span>
                              <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
                              <span class="col-2">${dto.replyer}</span>
                              <span class="col-2">${dto.regDate} </span>
                            </li>`
        }
    }
    replyList.innerHTML = str
}

function printPages(data){ // 페이지 목록 출력

    //pagination
    let pageStr = '';

    if(data.prev) {
        pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.start-1}">이전</a></li>`
    }

    for(let i = data.start; i <= data.end; i++){
        pageStr +=`<li class="page-item ${i == data.page?"active":""} "><a class="page-link" data-page="${i}">${i}</a></li>`
    }

    if(data.next) {
        pageStr +=`<li class="page-item"><a class="page-link" data-page="${data.end +1}">다음</a></li>`
    }

    replyPaging.innerHTML = pageStr
}

function printReplies(page, size, goLast){
    getList({bno, page, size, goLast}).then(
        data => {
            printList(data.dtoList) // 목록 처리
            printPages(data) // 페이지 처리
        }
    ).catch(e => {
        console.error(e)
    })
}
printReplies(1,10, true)


// 댓글 등록 모달
const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
// const registerMoal = new Modal(document.querySelector(".registerModal"))
//registerModel
const registerBtn = document.querySelector(".registerBtn")
const replyText = document.querySelector(".replyText")
const replyer = document.querySelector(".replyer")
const closeRegisterBtn = document.querySelector(".closeRegisterBtn")

document.querySelector(".addReplyBtn").addEventListener("click", function (e){
    registerModal.show()
},false)

closeRegisterBtn.addEventListener("click", function (e){
    registerModal.hide()
},false)

registerBtn.addEventListener("click", function(e){
    const replyObj = {
        bno:bno,
        replyText:replyText.value,
        replyer:replyer.value}

    addReply(replyObj).then(result => {
        alert(result.rno)
        registerModal.hide()
        replyText.value = ''
        replyer.value =''
        printReplies(1,10, true) //댓글 목록 갱신
    }).catch(e => {
        alert("Exception...")
    })
}, false)

/* 댓글 페이지 번호 클릭 */
let page = 1
let size = 10

replyPaging.addEventListener("click", function (e){

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if(!target || target.tagName != 'A'){
        return
    }

    const pageNum = target.getAttribute("data-page")
    page = pageNum
    printReplies(page, size)
}, false)

/* 댓글 수정 모달 */
const modifyModal = new bootstrap.Modal(document.querySelector(".modifyModal"))

const replyHeader = document.querySelector(".replyHeader")
const modifyText = document.querySelector(".modifyText")
const modifyBtn = document.querySelector(".modifyBtn")
const removeBtn = document.querySelector(".removeBtn")
const closeModifyBtn = document.querySelector(".closeModifyBtn")

/* 조회 */
replyList.addEventListener("click", function (e){

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if(!target || target.tagName != 'SPAN'){
        return
    }

    const rno = target.getAttribute("data-rno")

    if(!rno){
        return
    }

    getReply(rno).then(reply => { // 댓글 내용을 모달창에 채워 보여줌
        console.log(reply)
        replyHeader.innerHTML = reply.rno
        modifyText.value = reply.replyText
        modifyModal.show()
    }).catch(e => alert('error'))
},false)

/* 수정 */
modifyBtn.addEventListener("click", function(e) {

    const replyObj = {
        bno:bno,
        rno:replyHeader.innerHTML,
        replyText:modifyText.value}

    modifyReply(replyObj).then(result => {
        alert(result.rno+' 댓글 수정 완료.')
        replyText.value = ''
        modifyModal.hide()
        printReplies(page, size)
    }).catch(e => {
        console.log(e)
    })
},false)

/* 닫기 */
closeModifyBtn.addEventListener("click", function(e){
    modifyModal.hide()
}, false)

/* 제거 */
removeBtn.addEventListener("click", function(e) {
    removeReply(replyHeader.innerHTML).then(result => {
        alert(result.rno +' 댓글 삭제 ')
        replyText.value = ''
        modifyModal.hide()

        page = 1 // 해당 부분 없으면 원래 페이지로

        printReplies(page, size)
    }).catch(e=>{
        console.log(e)
    })
}, false)
</script>

</body>
</html>
